.plant-info {
  &-header {
    background: #FFFFFF;
    color: #000000;
  }
  &-content {
    padding: 0 20px;
    margin-top: 45px;
    font-size: 14px;
    
    &-field {
      position: relative;
      width: calc(100% + 11px);
      font-size: 21px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 7px 0;
      border-bottom: 1px solid rgba(231,231,231,1);
      img {
        position: absolute;
        right: 0;
        top: 18px;
      }
      input {
        border: none;
        resize: none;
        box-sizing: border-box;
        outline: none;
        -webkit-appearance: none; 
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      input:disabled{
        border: none;
        resize: none;
        box-sizing: border-box;
        outline: none;
        -webkit-appearance: none; 
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
      }
      ::-webkit-input-placeholder { font-size: 14px; color: #cccccc; }
      ::-moz-placeholder { font-size: 14px; color: #cccccc; }
      :-ms-input-placeholder { font-size: 14px; color: #cccccc; }
      input:-moz-placeholder { font-size: 14px; color: #cccccc; }
      &:nth-child(2), &:nth-child(4) {
        margin-bottom: 40px;
      }
      .area-icon {
        height: 15px;
        width: 11px;
      }
    }
  }
  &-protocol {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
    img {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
    span {
      font-size: 14px;
      font-family: PingFangSC-Regular;
      color: rgba(51,51,51,1);
    }
    a {
      font-size: 14px;
      font-family: PingFangSC-Regular;
      color: #14BA72;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 30px;
    &-style {
      width: 335px;
      background: linear-gradient(to right, #3FE993, #14BA72);
    }
  }
  .popup-style {
    height: 280px;
    width: 375px;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 61px;
      font-size: 17px;
      padding: 0 20px;
    }
    &-picker {
      padding: 10px 20px;
      
    }
  }
  
}